<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="row">
    <div class="col s6 offset-s3">
    <div class="card">
    <div class="card-panel z-depth-5">

        <!-- Form Username Input Section -->

        <div class="col s12 m12 l12">
            <div class="input-field">
                <i class="material-icons prefix">folder</i>
                <%= form.label :name %>
                <%= form.text_field :name %>
            </div>
        </div>

        <div class="center">
              <input id="iniciar" type="submit" name="commit" value="Aceptar" class="waves-effect waves-light btn " 
               style="width:100%; background-color: #B22222; color:white">       
      </div>
    </div>
    </div>
    </div>
<% end %>


