<p id="notice"><%= notice %></p>

<div class="center">
<h1 style="justify-conent:center">Tus cuadernos</h1>
</div>
<table class="center striped" style="width: 80%; margin-left: 10%;">
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>

          <i class="material-icons">folder</i> 
          <%= link_to book_path(:id => book.id), class:'book-name-position' do %>
          <%= book.name %>
          <%end%>
        </td>
        <td>
          <%= link_to edit_book_path(:id => book.id), class:'not-hover' do %>
           <i class="material-icons">mode_edit</i> 
          <% end %>
        </td>
        <td>
          <%= link_to book_path(:id => book.id), method: :delete, class:'not-hover', data: { confirm: 'Seguro desea eliminar este cuaderno?' } do %>
            <i class="material-icons">delete</i>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if !@notes.empty? %>
    <% @notes.each do |note| %>
      <tr>
        <td>
          <i class="material-icons">event_note</i>
          <%= link_to note_path(:id => note.id), class:'book-name-position' do %>
          <%= note.title %>
          <% end %>
        <td>
        <%= link_to edit_note_path(:id => note.id), class:'not-hover' do %>
          <i class="material-icons">mode_edit</i> 
        <% end %>
        </td>
        <td>
          <%= link_to note_path(:id => note.id), method: :delete, class:'not-hover', data: { confirm: 'Seguro desea eliminar esta nota?' } do %>
            <i class="material-icons">delete</i>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>








  </tbody>
</table>

<br>

<div class="center">
<%= link_to new_book_path, class:'buton-text waves-effect waves-light btn' do %>
  <i class="material-icons left">add</i>Crear Cuaderno
<% end %>

<%= link_to new_note_path, class:'buton-text waves-effect waves-light btn' do %>
  <i class="material-icons left">add</i>Crear nota
<% end %>
<%= link_to books_export_all_path(@book), class:'buton-text all-st waves-effect waves-light btn', method: :post  do%>
  <i class="material-icons left">add</i>Exportar todo
<% end %>
</div>

