<div class="center">
<h1 style="justify-conent:center"><%= @book[:name]%></h1>
</div>

<table class="center striped" style="width: 80%; margin-left: 10%;">

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td>
          <i class="material-icons">event_note</i> 
          <%= link_to note_path(:id => note.id), class:'book-name-position' do %>
            <%= note.title %>
          <% end %>        </td>
        <td>
      <%= link_to edit_note_path(:id => note.id), class:'not-hover' do %>
          <i class="material-icons">mode_edit</i> 
        <% end %>        </td>
        <td>
          <%= link_to note_path(:id => note.id), method: :delete, class:'not-hover', data: { confirm: 'Seguro desea eliminar esta nota?' } do %>
            <i class="material-icons">delete</i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="center">
<%= link_to new_note_path(@book), class:'buton-text waves-effect waves-light btn' do %>
  <i class="material-icons left">add</i>Crear nota
<% end %>
<%= link_to books_export_all_path(@book), class:'buton-text all-st waves-effect waves-light btn', method: :post  do%>
  <i class="material-icons left">add</i>Exportar todo
<% end %>
</div>
